<!-- Baidu Tongji -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?29274d0e68415cd4179a801ea4abf7cb";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

<header class="ribbon">
  <div class="ribbon-inner">
    <a class="ribbon-mark" href="{{ '/' | relative_url }}" aria-label="Home">
      <span class="mark-glyph">G·L</span>
    </a>
    <nav class="ribbon-nav" aria-label="Primary">
      <a href="{{ '/' | relative_url }}"      class="{% if page.url == '/' %}is-active{% endif %}">Index</a>
      <a href="{{ '/publications/' | relative_url }}" class="{% if page.url contains '/publications' %}is-active{% endif %}">Papers</a>
      <a href="{{ '/project/' | relative_url }}"      class="{% if page.url contains '/project' %}is-active{% endif %}">Work</a>
      <a href="{{ '/code/' | relative_url }}"         class="{% if page.url contains '/code' %}is-active{% endif %}">Code</a>
      <a href="{{ '/service/' | relative_url }}"      class="{% if page.url contains '/service' %}is-active{% endif %}">Service</a>
    </nav>
  </div>
</header>
